body {
  font-family: "AUPassataRegular";
}

.au-color {
  background: #002546;
  color: #ffffff;
}
img.profile-pic {
  max-width: 300px;
  max-height: 300px;
  overflow: hidden;
}

nav {
  position: sticky;
  top: 0;
  z-index: 1000000 !important;
}
nav a.brand-logo {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
nav a.brand-logo h1 {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  margin-left: 1rem;
}
nav li > a:hover {
  background: rgba(250, 250, 250, 0.15);
}
nav li > a.current {
  background: rgba(200, 200, 200, .3);
  border-top: 3px solid rgb(255, 255, 255);
}
@media screen and (max-width: 1280px) {
  nav {
    position: relative;
  }
  nav a.brand-logo {
    position: relative;
  }
  nav ul.hide-on-med-and-down {
    display: flex !important;
    float: left !important;
    width: 100%;
    margin-bottom: 30px;
    background: #002546;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;;
  }
  nav ul li a {
    line-height: 40px;
  }
}

article section img.teaser {
  max-width: 100%;
  opacity: 0.7;
}

article section p.leader {
  font-size: 1.2rem;
  padding: 0 2.5rem;
  border-left: 3px solid #002546;
}
article section p.leader a {
  text-decoration: underline;
}

article section.empty {
  min-height: 20rem;
}

h1 {
  font-size: 2.7rem;
}
h2 {
  font-size: 2.06rem;
}
h3 {
  font-size: 1.42rem;
  font-family: "AUPassataBold";
}
h4 {
  font-size: 1.2rem;
  font-family: "AUPassataBold";
}

figure.right {
  padding-left: 1rem;
  border-left: 1px solid #002546;
}
figure img {
  max-width: 100%;
}
figure figcaption {
  margin-top: 1rem;
}

@media screen and (max-width: 1200px) {
  .row figure {
    border: none;
    padding: 0;
    margin: 1.5rem 0;
  }
}

.no-image-placeholder {
  position: absolute;
  width: 42px;
  height: 42px;
  border-radius: 21px;
  overflow: hidden;
  left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.no-image-placeholder i {
  font-size: 25px;
}

.secondary-content {
  color: #002546;
}

.collection .collection-item.avatar {
  padding-right: 60px;
}
.collection .collection-item.avatar .secondary-content.repository-reference {
  right: 45px;
}

.card {
  transition: box-shadow 0.15s ease-in-out;
}
.card:hover {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
}
.card-image img {
  height: 200px;
  object-fit: cover;
}

a {
  color: #002546;
}
a.btn {
  background: #fff;
  color: black;
}
a.btn:hover {
  background: #eee;
}
a.external-url {
  font-size: 18px;
}
.collection .title {
  font-weight: bold;
  font-family: "AUPassataLight";
}

i.icon.gigantic {
  font-size: 90px;
}

p.light {
  font-weight: lighter;
}

pre.bibtex {
  overflow: auto;
}

.collection .collection-item span.title {
  color: #002546;
}

.overlay {
  position: absolute;
  z-index: 1000;
}

.student-thesis .title {
  font-weight: bold;
}
.student-thesis .metadata {
  font-style: italic;
  height: 3rem;
  overflow: hidden;
}

.student-project {
  display: flex;
  justify-content: flex-start;
}
.student-project img.teaser {
  max-width: 100%;
  max-height: 150px;
  overflow: hidden;
}
.student-project .title {
  width: 100%;
}
.student-project .author {
  font-style: italic;
}
.student-project .author a:hover {
  text-decoration: underline;
}
.student-project .abstract {
  margin: 0.2rem 0;
}
.student-project .icons {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: flex-start;
  flex-wrap: wrap;
}
.student-project .icons i {
  margin: 0.5rem;
}

.gallery img.col.m3.s12 {
  padding-right: 4px;
  padding-bottom: 4px;
}

.overlay#bibtex {
  /* x-width: 350px; */
  max-height: 450px;
  overflow-y: auto;
}

.hidden {
  display: none;
}

footer a:hover {
  text-decoration: underline;
}

details>summary {
 
  list-style: none;
}
summary::-webkit-details-marker {
  display: none
}

summary::after {
  content: ' ►';
}
details[open] summary:after {
  content: " ▼";
}