#wrap { margin-top: 30px; }
#header-top { margin: 0; }
#footer { margin: 0; }
#content .section { margin: 0 0 0 84px; }
#content .section-standard { margin: 0 0 0 -552px; }
.section-line { margin: 10px 0 35px 44px; }
#header #header-img { margin: 0 85px 0 82px; }
#header #about-me p { margin-top: -1px; }